*{
    font-family:'Montserrat', sans-serif;
}
html {
  background:url('../resources/img/testbg.jpg') no-repeat center center fixed;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
}
.flex-container-top {
  margin-top:0px;
  margin-left:0px;
  margin-right:0px;
  width:100%;
  height:40%;
  display:flex;
  background-image:url('../resources/img/mtnLandscape.jpg');
  justify-content:center;
  border-bottom:2px solid #394248;
}
.welcome-bg {
    margin:auto;
    width:20%;
    opacity:0.5;
    box-shadow:1px 2px 40px -5px rgba(43,63,115,0.95);
    -webkit-box-shadow:1px 2px 40px -5px rgba(43,63,115,0.95);
    -moz-box-shadow:1px 2px 40px -5px rgba(43,63,115,0.95);
    background-image:url('../resources/img/welcomeMrbl.jpg');
    justify-content:center;
    text-align:center;
    font-size:xx-large;
}
.flex-container-btm {
    display:flex;
    justify-content:space-around;
}
.video {
    text-align:center;
}
.pdf {
    text-align:center;

}
.vid-content {
    padding-top:5%;
}
.project-report {
    text-align:center;
}